<!-- templates/registration/login.html -->
{% extends "base.html" %}
{% load bootstrap4 %}
{% load render_bundle from webpack_loader %}
{% block title %}Login{% endblock %}

{% block main %}
<div id="MenuApp"></div> 
{% render_bundle 'vendors' %} 
{% render_bundle 'MenuApp' %}
<div class="container">

<h2>Logga In</h2>
<form method="post">
  {% bootstrap_form form %}
  {% csrf_token %}
  {% buttons %}
  <button type="submit" class="btn btn-primary center-block">Logga In</button>
  {% endbuttons %}
</form>

</div>

{% endblock %}