{% extends "base.html" %} {% load render_bundle from webpack_loader %} {% load bootstrap4 %} {% block title %}Index{% endblock %} {% block main %} {% load static %} {% load leaflet_tags %}

<!doctype html>
<html>
{% load static %} {% load leaflet_tags %}
<!-- Ingird: vad gör denna? Behövs ev ej -->

<head>
    {{ form.media }}
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <!--<script type="text/javescript" src='% static dist/leaflet.ajax.js'></script>-->
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.1.0.min.js"></script>

    <style>
        /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

        #map {
            height: 100%;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }

        /* Optional: Makes the sample page fill the window. */

        html,
        body {
            height: 80%;
            margin: 0;
            padding: 0;
        }

        #infowindow-content {
            display: none;
        }

        #map #infowindow-content {
            display: inline;
        }

        #info-box {
            height: auto;
            width: 30%;
            background-color: white;
            text-indent: 15px;
            margin: auto;
        }

        #citySearch {
            margin: 1%;
            margin-left: 5%;

        }

        #intro-text {
            margin-left: 5%;
            line-height: 10px;
            width: 40%;

        }

    </style>

</head>

<body>
    <!-- Here is the main menu added to the page -->
    {% if user.is_authenticated %}
    <div id="MenuAppAuth"></div>
    {% render_bundle 'vendors' %} {% render_bundle 'MenuAppAuth' %}

    <div id="intro-text">
        <h3>Toolgate Maps </h3>
        <p>Klicka på kartan för att få fram fastighetsinformation om den önskade tomten.</p>
    </div>
    <input id="citySearch" class="controls" type="text" placeholder="Sök (adress, stad...)">
    <div id="map"></div>
    <div id="info-box"></div>
    {% else %}

    <div id="MenuApp"></div>
    {% render_bundle 'vendors' %} {% render_bundle 'MenuApp' %}

    <div class="jumbotron text-center">
        <h1>Du är inte inloggad!</h1>
        <p>För att använda Toolgate Maps vänligen logga in eller skapa ett nytt konto</p>
        <a href="{% url 'login' %}" class="btn btn-primary">Logga In</a>
        <a href="{% url 'signup' %}" class="btn btn-primary">Skapa Konto</a>

    </div>
    {% endif %}

    <script>
        var map;
        var previousClickedMarker;
        var blueIcon = {
          path: 'M0-48c-9.8 0-17.7 7.8-17.7 17.4 0 15.5 17.7 30.6 17.7 30.6s17.7-15.4 17.7-30.6c0-9.6-7.9-17.4-17.7-17.4z',
          fillColor: 'blue',
          fillOpacity: 0.7,
          scale: 0.8,
          strokeColor: 'white',
          strokeWeight: 3};
        var redIcon = {
          path: 'M0-48c-9.8 0-17.7 7.8-17.7 17.4 0 15.5 17.7 30.6 17.7 30.6s17.7-15.4 17.7-30.6c0-9.6-7.9-17.4-17.7-17.4z',
          fillColor: 'red',
          fillOpacity: 0.7,
          scale: 0.8,
          strokeColor: 'white',
          strokeWeight: 3};
        var ownerObj;
        var propertyGEOJSON;

        function initMapAndLayers() {
            map = new google.maps.Map(document.getElementById("map"), {
                zoom: 17,
                center: {
                  // Location where there is a Property now. Default when geolocation doesn't work //CE
                    lat: 61.335,
                    lng: 16.38
                }
            });

            previousClickedMarker = new google.maps.Marker({ //Sets values so it's not null.
                position: new google.maps.LatLng(1, 1),
                map: map,
                showInfo: false,
                id: -1,
            })

            $.getJSON('http://localhost:8000/toolgate_maps/properties_data/', function(data) {
                propertyGEOJSON = data;
                for (var i = 0, length = propertyGEOJSON.features.length; i < length; i++) {
                    createMarker(i);
                }
            });

            function createMarker(i) {
                lat = propertyGEOJSON.features[i].geometry.coordinates[0];
                lng = propertyGEOJSON.features[i].geometry.coordinates[1];
                ownerID = propertyGEOJSON.features[i].properties.owners;

                var data = propertyGEOJSON, //Ingrid: behöver nog inte data-variabeln
                    latLng = new google.maps.LatLng(lng, lat);

                // Creating a marker and putting it on the map
                var propertyMarker = new google.maps.Marker({
                    position: latLng,
                    map: map,
                    icon: redIcon,
                    ownerID: ownerID,
                    showInfo: false,
                    id: i,
                });
                console.log(latLng.toString());

                propertyMarker.addListener('click', function() {
                    clickedProperty(propertyMarker);
                })
            }

            // NOTE: This uses cross-domain XHR, and may not work on older browsers, comment from google.

            map.data.loadGeoJson('http://localhost:8000/toolgate_maps/propertyBorders_data/');
            map.data.loadGeoJson('https://storage.googleapis.com/mapsdevsite/json/google.json');
            // map.data.loadGeoJson('http://localhost:8000/toolgate_maps/properties_data/');

            map.data.setStyle(function(feature) { // Styling of boarderlines. Ingrid
                return {
                    strokeWeight: 0.5,
                    strokeColor: "#0000ff",
                    clickable: false,
                    icon: feature.getProperty(blueIcon),
                }
            });

            createSearchBoxCities(map);
        }

        const ownersURL = "http://localhost:8000/toolgate_maps/propertyOwners_data/";
        $.ajax({
            url: ownersURL,
            success: function(result) {
                ownerObj = result;
            }

        });

        //************* FUNCTIONS UNDER HERE *****************

        function createSearchBoxCities(map) {
            var input = document.getElementById('citySearch');
            var searchBox = new google.maps.places.SearchBox(input);
            //            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

            // Bias the SearchBox results towards current map's viewport.
            map.addListener('bounds_changed', function() {
                searchBox.setBounds(map.getBounds());
            });

            var markers = [];
            // Listen for the event fired when the user selects a prediction and retrieve
            // more details for that place.
            searchBox.addListener('places_changed', function() {
                var places = searchBox.getPlaces();

                if (places.length == 0) {
                    return;
                }

                // Clear out the old markers.
                markers.forEach(function(marker) {
                    marker.setMap(null);
                });
                markers = [];

                // For each place, get the icon, name and location.
                var bounds = new google.maps.LatLngBounds();
                places.forEach(function(place) {
                    if (!place.geometry) {
                        console.log("Returned place contains no geometry");
                        return;
                    }

                    if (place.geometry.viewport) {
                        // Only geocodes have viewport.
                        bounds.union(place.geometry.viewport);
                    } else {
                        bounds.extend(place.geometry.location);
                    }
                });
                map.fitBounds(bounds);
            });
        }

        function findAndPrintOwners(ownerObj, ownerID) {
            var i;
            for (i = 0; i < ownerObj.features.length; i++) {
                if (ownerObj.features[i].properties["pk"] == ownerID) { //IM: loops through the owners to find a match.
                    console.log("Det finns en träff med ägare och property");
                    firstName = ownerObj.features[i].properties["firstname"];
                    surName = ownerObj.features[i].properties["surname"];
                    companyName = ownerObj.features[i].properties["coname"];
                    juridicalForm = ownerObj.features[i].properties["jurform"];
                    reg_no = ownerObj.features[i].properties["reg_no"];

                    document.getElementById('info-box').innerHTML = "<h4> Fastighetsinformation" + "<h5> Namn:      " + firstName + " " + surName + "<h5> Företag:" + companyName +  "<h5> Juridisk form:     " + juridicalForm + " " + "<h5> Organisationsnummer:     " + " " + reg_no;
                    break;

                }
            }
        }

        function clickedProperty(propertyMarker) {
            changeMarkerIcon(propertyMarker);
            console.log("klickat ownerID: " + propertyMarker.ownerID);
            findAndPrintOwners(ownerObj, propertyMarker.ownerID);
        }

        function changeMarkerIcon(theMarker) {
            if (theMarker.showInfo == true) {
                unclickMarker(theMarker);
            } else {
                theMarker.setIcon(blueIcon);
                theMarker.showInfo = true;
                if (previousClickedMarker.id != theMarker.id) {
                    unclickMarker(previousClickedMarker);
                }
                previousClickedMarker = theMarker;
            }
        }

        function unclickMarker(theMarker) {
            theMarker.setIcon(redIcon);
            theMarker.showInfo = false;
            console.log("återställt markern");
        }

    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTGG7XrK5kRzyrpBKEH3ZwQ3wNprTmgDI&libraries=places&callback=initMapAndLayers"></script>
    <!--{ % block javascript %}-->
</body>

</html>
{% endblock %}
