{% extends "base.html" %} {% load render_bundle from webpack_loader %} {% load bootstrap4 %} {% block title %}Index{% endblock %} {% block main %} {% load static %} {% load leaflet_tags %}

<!doctype html>
<html>
{% load static %} {% load leaflet_tags %}
<!-- Ingird: vad gör denna? Behövs ev ej -->

<head>
    {{ form.media }}
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <!--<script type="text/javescript" src='% static dist/leaflet.ajax.js'></script>-->
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.1.0.min.js"></script>

    <style>
        /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

        #map {
            height: 100%;
            width: 71%;
            margin-left: 3%;
        }

        /* Optional: Makes the sample page fill the window. */

        html,
        body {
            height: 85%;
            margin: 0;
            padding: 0;
        }

        h6 {
          color: gray;
        }

        #intro-text {
            margin-left: 3%;
            line-height: 10px;
            width: auto;
        }

        #infowindow-content {
            display: none;
        }

        #map #infowindow-content {
            display: inline;
        }

        #info-box {
            height: auto;
            width: 20%;
            background-color: white;
            float: right;
            margin-right: 3%;
            margin-top: -409pt;
            padding: 10pt;
        }

        #info-box-static {
            height: 170pt;
            width: 20%;
            background-color: white;
            float: right;
            margin-right: 3%;
            margin-top: -409pt;
            text-align: center;
            padding: 10pt;

        }

        #citySearch {
            margin: 1%;
            margin-left: 3%;

        }

    </style>

</head>

<body>
    <!-- Here is the main menu added to the page -->
    {% if user.is_authenticated %}
    <div id="MenuAppAuth"></div>
    {% render_bundle 'vendors' %} {% render_bundle 'MenuAppAuth' %}

    <div id="intro-text">
        <h3>Toolgate Maps </h3>

    </div>
    <input id="citySearch" class="controls" type="text" placeholder="Sök (adress, stad...)">

    <div id="map"></div>
    <div id="info-box-static">
        <h4>Zooma in för att se markeringar för fastigheter. <br><br> Klicka på markering för att få information om fastigheten.</h4>
    </div>
    <div id="info-box"></div>
    <!-- <div id="info-box-tomtratt"></div> -->
    {% else %}

    <div id="MenuApp"></div>
    {% render_bundle 'vendors' %} {% render_bundle 'MenuApp' %}

    <div class="jumbotron text-center">
        <h1>Du är inte inloggad!</h1>
        <p>För att använda Toolgate Maps vänligen logga in eller skapa ett nytt konto</p>
        <a href="{% url 'signup' %}" class="btn btn-primary">Skapa konto</a>
        <a href="{% url 'login' %}" class="btn btn-primary">Logga in</a>


    </div>
    {% endif %}

    <script>
        var map;
        var previousClickedMarker;
        var propertyMarkers = [];
        var ownerObj;
        var leaseHolderObj;
        var propertyGEOJSON;
        var blueIcon = {
            path: 'M0-48c-9.8 0-17.7 7.8-17.7 17.4 0 15.5 17.7 30.6 17.7 30.6s17.7-15.4 17.7-30.6c0-9.6-7.9-17.4-17.7-17.4z',
            fillColor: 'blue',
            fillOpacity: 0.7,
            scale: 0.8,
            strokeColor: 'white',
            strokeWeight: 3
        };
        var redIcon = {
            path: 'M0-48c-9.8 0-17.7 7.8-17.7 17.4 0 15.5 17.7 30.6 17.7 30.6s17.7-15.4 17.7-30.6c0-9.6-7.9-17.4-17.7-17.4z',
            fillColor: 'red',
            fillOpacity: 0.7,
            scale: 0.8,
            strokeColor: 'white',
            strokeWeight: 3
        };
        var ownersURL = "http://localhost:8000/toolgate_maps/propertyOwners_data/";
        var leaseHoldersURL = "http://localhost:8000/toolgate_maps/leaseHolder_data/";


        function initMapAndLayers() {
            map = new google.maps.Map(document.getElementById("map"), {
                zoom: 9,
                center: {
                    // Default location is Stockholm County when geolocation doesn't work
                    lat: 59.334591,
                    lng: 18.063240
                }
            });
            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    var locationMarker = new google.maps.Marker({
                        position: pos,
                        map: map,
                        icon: {
                            path: google.maps.SymbolPath.CIRCLE,
                            scale: 8.5,
                            fillColor: "#0040FF",
                            fillOpacity: 0.7,
                            strokeWeight: 0.4,
                            clickable: false
                        }
                    });
                    map.setCenter(pos);
                }, function() {
                    handleLocationError(true, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, map.getCenter());
            }

            previousClickedMarker = new google.maps.Marker({ //Sets values so it's not null.
                position: new google.maps.LatLng(1, 1),
                map: map,
                showInfo: false,
                id: -1
            })
            previousClickedMarker.setVisible(false);

            //            $.getJSON('http://localhost:8000/toolgate_maps/properties_data/', function(data) {
            //                propertyGEOJSON = data;
            //                for (var i = 0, length = propertyGEOJSON.features.length; i < length; i++) {
            //                    createMarker(i, map);
            //                }
            //            });


            // NOTE: This uses cross-domain XHR, and may not work on older browsers, comment from google.

            map.data.loadGeoJson('http://localhost:8000/toolgate_maps/propertyBorders_data/');
            map.data.loadGeoJson('https://storage.googleapis.com/mapsdevsite/json/google.json');
            // map.data.loadGeoJson('http://localhost:8000/toolgate_maps/properties_data/');

            map.data.setStyle(function(feature) { // Styling of boarderlines. Ingrid
                return {
                    strokeWeight: 0.5,
                    strokeColor: "#0000ff",
                    clickable: false,
                    icon: feature.getProperty(blueIcon), //behövs ingen icon här? Ingrid
                }
            });


            createSearchBoxCities(map);
            updateOwnersObject();
            updateLeaseHoldersObject();
            changeMarkers(map);

            createMarkerTrigger(map);
        }



        //************* FUNCTIONS UNDER HERE *****************

        function createMarker(i, map, propertyFeatures) {
            //            lat = propertyGEOJSON.features[i].geometry.coordinates[0];
            //            lng = propertyGEOJSON.features[i].geometry.coordinates[1];
            //            ownerID = propertyGEOJSON.features[i].properties.owners;
            //            leaseHolderID = propertyGEOJSON.features[i].properties.leaseholders;

            lat = propertyFeatures.geometry.coordinates[0];
            lng = propertyFeatures.geometry.coordinates[1];
            ownerID = propertyFeatures.properties.owners;
            leaseHolderID = propertyFeatures.properties.leaseholders;

            var data = propertyGEOJSON, //Ingrid: behöver nog inte data-variabeln
                latLng = new google.maps.LatLng(lng, lat);

            // Creating a marker and putting it on the map
            var propertyMarker = new google.maps.Marker({
                position: latLng,
                map: map,
                icon: redIcon,
                ownerID: ownerID,
                leaseHolderID: leaseHolderID,
                showInfo: false,
                id: i,
                dbInfo: propertyFeatures.properties // propertyGEOJSON.features[i].properties,
            });
            //console.log(latLng.toString());

            propertyMarker.addListener('click', function() {
                clickedProperty(propertyMarker);
            })
            return propertyMarker;
        }

        function createMarkerTrigger(map) {
            map.addListener('dragend', function() {
                changeMarkers(map);
            });

            map.addListener('zoom_changed', function() {
                changeMarkers(map);
            });
        }

        function changeMarkers(map) {
            console.log(map.getZoom());
            if (map.getZoom() >= 17) {
                updateOwnersObject();
                updateLeaseHoldersObject();
                if (deleteMarkers(map)) {
                    addMarkers(map);
                }
            } else {
                // ADDA en infobox här. som säger varför prickar inte syns.
                deleteMarkers(map);
            }
        }

        function getScreenCoords(map) {
            //var bounds = map.getBounds();
            var centerLat = map.getCenter().lat();
            var centerLng = map.getCenter().lng();
            return [centerLat, centerLng];
        }

        function deleteMarkers(map) {
            if (!Array.isArray(propertyMarkers) || !propertyMarkers.length) {
                console.log("There are no markers in the markers-array.");
            } else {
                console.log('katten');

                // Clear out the old markers.
                propertyMarkers.forEach(function(marker) {
                    marker.setMap(null);
                    // marker.visible = false;
                    //INGRID: Du borde ta bort markerns listener också.
                });
                //   propertyMarkers = [];

            }
            console.log(propertyMarkers);
            console.log("deletat markers");
            return true
        }

        function addMarkers(map) {
            var coords = getScreenCoords(map);
            $.ajax({
                url: 'http://localhost:8000/toolgate_maps/properties_data/',
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{csrf_token}}',
                    centerLat: coords[0],
                    centerLng: coords[1],
                },
                success: function(result) {
                    propertyGEOJSON = result;
                    var markers = [];
                    for (var i = 0, length = propertyGEOJSON.features.length; i < length; i++) {
                        //   markers.push(createMarker(i, map));
                        propertyMarkers[i] = createMarker(i, map, propertyGEOJSON.features[i]);
                    }
                    console.log(propertyGEOJSON);
                    //                    console.log("skapat markers från mittenkoord: " + coords);
                    //                    console.log(propertyMarkers);
                    //                    console.log("addMarkers före ");
                }
            });

            updateOwnersObject();
        }

        function updateOwnersObject() {
            var coords = getScreenCoords(map);
            // const ownersURL = "http://localhost:8000/toolgate_maps/propertyOwners_data/";
            $.ajax({
                url: ownersURL,
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{csrf_token}}',
                    centerLat: coords[0],
                    centerLng: coords[1],
                },
                success: function(result) {
                    ownerObj = result;
                    console.log(ownerObj);
                    console.log("ownerObj ^");
                }
            });
        }

        function updateLeaseHoldersObject() {
            var coords = getScreenCoords(map);
            $.ajax({
                url: leaseHoldersURL,
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{csrf_token}}',
                    centerLat: coords[0],
                    centerLng: coords[1],
                },
                success: function(result) {
                    leaseHolderObj = result;
                    console.log(leaseHolderObj);
                    console.log("leaseholderObj ^");
                }
            });
        }

        function createSearchBoxCities(map) {
            var input = document.getElementById('citySearch');
            var searchBox = new google.maps.places.SearchBox(input);
            //            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

            // Bias the SearchBox results towards current map's viewport.
            map.addListener('bounds_changed', function() {
                searchBox.setBounds(map.getBounds());
            });

            var markers = [];
            // Listen for the event fired when the user selects a prediction and retrieve
            // more details for that place.
            searchBox.addListener('places_changed', function() {
                var places = searchBox.getPlaces();

                if (places.length == 0) {
                    return;
                }

                // Clear out the old markers.
                markers.forEach(function(marker) {
                    marker.setMap(null);
                });
                markers = [];

                // For each place, get the icon, name and location.
                var bounds = new google.maps.LatLngBounds();
                places.forEach(function(place) {
                    if (!place.geometry) {
                        console.log("Returned place contains no geometry");
                        return;
                    }

                    if (place.geometry.viewport) {
                        // Only geocodes have viewport.
                        bounds.union(place.geometry.viewport);
                    } else {
                        bounds.extend(place.geometry.location);
                    }
                });
                map.fitBounds(bounds);
            });
        }


        function findAndPrintOwners(theProperty) {
            var i;
            for (i = 0; i < ownerObj.features.length; i++) {
                if (ownerObj.features[i].properties["pk"] == theProperty.ownerID[0]) { //IM: checks for one of the owners even if there are more of them.
                    var leaseHolderFeatures = findLeaseHolders(theProperty);
                    writeToInfobox(ownerObj.features[i], leaseHolderFeatures, theProperty);
                    break;
                }
            }
        }

        function findLeaseHolders(theProperty) {
            console.log(theProperty.leaseHolderID);
            console.log("theProperty.leaseHolderID ^");
            var i;
            for (i = 0; i < leaseHolderObj.features.length; i++) {
                if (leaseHolderObj.features[i].properties["pk"] == theProperty.leaseHolderID[0]) { //leaseHolderID is an array of all the leasholders IDs. Here we only fetch info for the first one.
                    console.log("Det finns en tomträttsinnehavare");
                    return (leaseHolderObj.features[i]);
                }
            }
            return ("NoMatch");
        }

        function writeToInfobox(ownerFeatures, leaseHolderFeatures, theProperty) {
            writePropertyAndOwner(ownerFeatures, theProperty);

            if (leaseHolderFeatures == "NoMatch") {
                document.getElementById('info-box').innerHTML = document.getElementById('info-box').innerHTML + "<br><h4><b>Tomträttsinnehavare</b> "+"<br><h5> Vald fastighet har ingen tomträtt<br>";
            } else {
                writeLeaseHolder(leaseHolderFeatures);
            }

            document.getElementById('info-box').innerHTML = document.getElementById('info-box').innerHTML +
                "<h6><i><br> Data i tomma fält finns ej tillgänglig hos Lantmäteriet";

        }

        function writePropertyAndOwner(ownerFeatures, theProperty) {
            var textTillInfobox = "Infoboxtext are saved in this variable";

            //Variables about the first owner
            firstName = ownerFeatures.properties["firstname"];
            surName = ownerFeatures.properties["surname"];
            companyName = ownerFeatures.properties["coname"];
            reg_no = ownerFeatures.properties["reg_no"];

            //Variables about the property
            area = theProperty.dbInfo.area / 10; //it's givven in tenth of sqare meters.
            municipality = theProperty.dbInfo.municipality;
            fast_bet = theProperty.dbInfo.district + " " + theProperty.dbInfo.block + theProperty.dbInfo.sign + theProperty.dbInfo.unity;
            price_fa = theProperty.dbInfo.price_fa + " " + theProperty.dbInfo.currency_fa;
            price_lo = theProperty.dbInfo.price_lo + " " + theProperty.dbInfo.currency_lo;
            price_date = theProperty.dbInfo.price_date;
            taxation_year = theProperty.dbInfo.taxation_year;
            taxation_land = theProperty.dbInfo.taxation_land * 1000;
            taxation_build = theProperty.dbInfo.taxation_build * 1000;

            console.log("Denna tomt har lös köpeskilling: " + theProperty.dbInfo.price_lo);

            //   textTillInfobox = "<h4><b> Fastighetsinformation</b>" + "<h5><b>Fastighetsbeteckning:</b> " + fast_bet;
            textTillInfobox = "<h4><b>" + fast_bet + "</b>";
            if (firstName === '' && surName === '') {
                textTillInfobox = textTillInfobox +
                    "<h5><b> Ägare:</b> " + companyName +
                    "<h5><b> Organisationsnummer:</b>     " + " " + reg_no;
            } else if (companyName === '') {

                textTillInfobox = textTillInfobox +
                    "<h5><b> Ägare:</b>      " + firstName + " " + surName;
            }

            textTillInfobox = textTillInfobox +
                "<h5><b> Area:</b> " + area + " kvm" +
                "<br><br><h4><b> Prisinformation</b> " +
                "<h5><b> Taxeringsvärde mark:</b> " + taxation_land + " SEK" +
                "<h5><b> Taxeringsvärde byggnad(er):</b> " + taxation_build + " SEK" +
                "<h5><b> Taxeringsår:</b> " + taxation_year;

            textTillInfobox = textTillInfobox +
                "<h5><b> Fast Köpeskilling:</b> " + price_fa;

            if (theProperty.dbInfo.price_lo != '') {
                textTillInfobox = textTillInfobox +
                    "<h5><b> Lös Köpeskilling:</b> " + price_lo;
            }

            textTillInfobox = textTillInfobox +
                "<h5><b> Köpdatum:</b> " + price_date;

            document.getElementById('info-box').innerHTML = textTillInfobox;
        }


        function writeLeaseHolder(leaseHolderFeatures) {
            var textTillInfobox = "Infoboxtext are saved in this variable";

            //Variables about the first lease holder
            firstName = leaseHolderFeatures.properties["firstname"];
            surName = leaseHolderFeatures.properties["surname"];
            companyName = leaseHolderFeatures.properties["coname"];
            price_fa = leaseHolderFeatures.properties["price_fa"] + " " + leaseHolderFeatures.properties["currency_fa"];
            price_lo = leaseHolderFeatures.properties["price_lo"] + " " + leaseHolderFeatures.properties["currency_lo"];
            price_date = leaseHolderFeatures.properties["price_date"];

//            document.getElementById('info-box').innerHTML = document.getElementById('info-box').innerHTML +
//                "<br><h4><b>Tomträttsinnehavare</b>" +
//                "<h5><b> Namn:</b> " + firstName + " " + surName +
//                "<h5><b> Ägare:</b> " + companyName +
//                "<h5><b> Fast Köpeskilling:</b> " + price_fa + " " +
//                "<h5><b> Lös Köpeskilling:</b> " + price_lo + " " +
//                "<h5><b> Köpdatum:</b> " + price_date + " ";

            textTillInfobox = "<br><h4><b>Tomträttsinnehavare</b>";

            if (firstName === '' && surName === '') {
                textTillInfobox = textTillInfobox +
                    "<br><h5><b> Tomträttsinnehavare: </b>" + companyName;
            } else if (companyName === '') {
                textTillInfobox = textTillInfobox +
                    "<br><h5><b> Tomträttsinnehavare: </b>" + firstName + " " + surName;
            }

            textTillInfobox = textTillInfobox +
                "<h5><b> Fast Köpeskilling:</b> " + price_fa;

            if (leaseHolderFeatures.properties["price_lo"] != '') {
                textTillInfobox = textTillInfobox +
                    "<h5><b> Lös Köpeskilling:</b> " + price_lo;
            }

            textTillInfobox = textTillInfobox +
                "<h5><b> Köpdatum:</b> " + price_date;

            document.getElementById('info-box').innerHTML = document.getElementById('info-box').innerHTML +
                textTillInfobox;
        }

        function clickedProperty(theMarker) {
            if (theMarker.showInfo == true) {
                unclickMarker(theMarker);
            } else {
                theMarker.setIcon(blueIcon);
                theMarker.showInfo = true;
                if (previousClickedMarker.id != theMarker.id) {
                    unclickMarker(previousClickedMarker);
                }
                findAndPrintOwners(theMarker);
                previousClickedMarker = theMarker;

            }
        }

        function unclickMarker(theMarker) {
            theMarker.setIcon(redIcon);
            theMarker.showInfo = false;
            document.getElementById('info-box').innerHTML = "";
        }

        function handleLocationError(browserHasGeolocation, pos) {

            alert("Det går inte att visa din plats på kartan. Det kan bero på dina inställningar i webläsaren.");
            // Put LocationError handlers //CE
        }

    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTGG7XrK5kRzyrpBKEH3ZwQ3wNprTmgDI&libraries=places&callback=initMapAndLayers"></script>
    <!--{ % block javascript %}-->
</body>

</html>
{% endblock %}
