{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block main %}
<!doctype html>
<html>
{% load static %} {% load leaflet_tags %}
<!-- Ingird: vad gör denna? -->

<head>
    <title> Toolgate Maps - Map</title>
    {% leaflet_js %} {% leaflet_css %}
    {{ form.media }}
    <script type="text/javescript" src='% static dist/leaflet.ajax.js'></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
</head>
<body>
    <!-- Here is the main menu added to the page -->
    {% if user.is_authenticated %}
    <div id="MenuAppAuth"></div> 
    {% render_bundle 'vendors' %} 
    {% render_bundle 'MenuAppAuth' %}
    {% else %}
<div id="MenuApp"></div> 
{% render_bundle 'vendors' %} 
{% render_bundle 'MenuApp' %}
<p>You are not logged in</p>
<!-- Lägg till pop up med meddelande  -->
    {% endif %}

    <h3> Detta är Toolgate Maps flik för kartan. Här ska du kunna söka på platser och annat kul. </h3> <br> {% leaflet_map "gis" callback="window.propertyMarkerLayer" %}
    <!-- Här läggs kartan in. Det kör funktionen propertyMarkerLayer -->
    <script type="text/javascript">

        function propertyMarkerLayer(map, options) {
            var dataSourceWaypoints = 'waypoints_data';

            //            function clickMarker(feature, layer) {
            //                layer.on('click', function(e) {
            //                    var thePopup = "area: "+e.target.feature.properties.area + 'br' + "text";
            //                    layer.bindPopup(thePopup).openPopup(e.latlan);
            //                });
            //            }

            var markerLayer = L.geoJson(null, {
                onEachFeature: function(feature, layer) {
                    layer.on('click', function(e) {
                        var thePopup = "<h4>" + e.target.feature.properties.fastighetsbeteckning +"</h4>" +
                        "<br> Ägare: " +
                        "<br> Area: " + e.target.feature.properties.area + " m^2" +
                        "<br> Köpeskilling fast egendom: " +
                        "<br> Köpeskilling lös egendom: ";
                        layer.bindPopup(thePopup).openPopup(e.latlan);
                    });
                }
            });
            
            $.getJSON(dataSourceWaypoints, function(data) {
                markerLayer.addData(data);
            })
            markerLayer.addTo(map);

            var dataSourcePunkter = 'punkters_data';
            $.getJSON(dataSourcePunkter, function(data) {
                L.geoJSON(data, {
                    pointToLayer: function(feature, latlng) {
                        return L.circleMarker(latlng, geojsonMarkerOptions);
                        //return L.circleMarker(latlng);
                    }
                }).addTo(map);
            })

            var geojsonMarkerOptions = {
                radius: 7,
                fillColor: "#f44256",
                color: "#000",
                weight: 1,
                opacity: 1,
                fillOpacity: 0.8
            };

            //            var dataSourceProperty = 'property_data';
            //            $.getJSON(dataSourceProperty, function(data) {
            //                L.geoJSON(data).addTo(map);
            //
            //            })



            //                L.geoJSON(data, {
            //            style: function(feature) {
            //                return {
            //                    color: feature.properties.color
            //                };
            //            }
            //        }).bindPopup(function(layer) {
            //            return layer.feature.properties.description;
            //        }).addTo(map);
        }
    </script>
</body>
</html>
{% endblock %}